

#header
{
    width: 98%;
    height: 135px;
    position: fixed;
    margin-right: 1%;
    top: 0px;
    z-index: 10;

    

}

#gifts
{
    margin-top: 13%;
}

.pic
{
    width: 250px;
    float: right;
    margin-right: 1%;
    margin-left: 3%;

}
.numoftickets
{

    position: absolute;
    /* bottom:88.2%; */
    /* bottom:88.9%; */
    bottom:90.3%;
    right: 85.5%;
    color: white;
    position: fixed;
    

}

.pictures
{
    width: 109%;
    height: 69%;
    margin: 1%;
    margin-bottom: 0%;
    
}

#gifts
{
    margin-right: 3%;
}

/* .pictures:hover
{
    height: 80%;
    width: 32%;
    margin: 0%;

} */

#words
{
    word-spacing: 230px;
}


input
{
    width: 14%;
    text-align: center;
}

/* table
{
    text-align: center;
    margin-left: 4%;
} */

p
{
    vertical-align: bottom;
    font-size: 90%;
}

#time
{
    position: absolute;
    /* bottom:74.5%; */
    bottom:76%;
    right: 79%;
    color: #000033;
    position: fixed;
    font-size: 190%;
    z-index: 10;
}
#h{
    z-index: 10;
}

#pica
{
    margin-top: 1%;
    margin-right: 10%;
}

.try
{
    margin-top: 0px;
}

#inputext
{
    margin-left: 0%;
}

#pay
{
    height: 20%;
    width: 20%;
    /* margin-top: 20%; */
    margin-top: -10%;
    margin-right: 70%;
}

#specialCard
{
    width: 85%;
    height: 55%;
    margin-top: 15%;
    margin-right: 8%;

}

#free
{
    
    position: absolute;
    bottom:44%;
    right: 83%;
    font-size: 150%;
    color: rgb(65, 63, 63);  
     text-align: center;
     z-index: 5;
}

#specialCardInput
{
    width: 3%;
    left: 87%;
    bottom: 58%;
    position: absolute;

}

#sc
{
    /* width: 3%; */
    right: 13.5%;
    bottom: 54.3%;
    position: absolute;
    color: white;
    font-size: 120%;
    z-index: 5;
}